<!DOCTYPE html>  
<html lang="en">  
<head>  
	<meta charset="UTF-8">  
	<title>magazzino Project - edit</title>  
   
	{% load static %}  
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/> 
	<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/> 
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>  
<body>  
	
<form method="POST" class="post-form" action="/update/{{magazzino.id}}">  
		{% csrf_token %}  
<div class="container bg-light"><br>
  
  <div class="form-group row">  
	 <label class="col-sm-1 col-form-label"></label>  
	 <div class="col-sm-4">  
	 <h3>Update Record</h3>  
    </div>  
  </div>  

  <div class="form-group row">  
	<label class="col-sm-2 col-form-label">Id:</label>  
	<div class="col-sm-4">  
		<input class="form-control"  type="text" name="eid" id="id_eid" required maxlength="20" value="{{ magazzino.eid }}"/>  
	</div>  
  </div> 
   
  <div class="form-group row">  
	<label class="col-sm-2 col-form-label">Subkey:</label>  
	<div class="col-sm-4">  
		<input class="form-control"  type="text" name="subkey" id="id_subkey" required maxlength="20" value="{{ magazzino.subkey }}"/>  
	</div>  
  </div> 

  <div class="form-group row">  
	<label class="col-sm-2 col-form-label">Name:</label>  
	<div class="col-sm-4">  
		<input class="form-control"  type="text" name="ename" id="id_ename" required maxlength="60" value="{{ magazzino.ename }}"/>  
	</div>  
  </div> 

  <div class="form-group row">  
	<label class="col-sm-2 col-form-label">Quantity:</label>  
	<div class="col-sm-4">  
		<input class="form-control"  type="number" name="quantity" id="id_quantity" required maxlength="100" value="{{ magazzino.quantity }}" />  
	</div>  
  </div>  
  
  <div class="form-group row">  
	<label class="col-sm-2 col-form-label">Code Maker:</label>  
	<div class="col-sm-4">  
		<input class="form-control"  type="text" name="code_maker" id="id_code_maker" required maxlength="100" value="{{ magazzino.code_maker }}" />  
	</div>  
  </div>  

  <div class="form-group row">  
	<label class="col-sm-2 col-form-label">Code Vendor:</label>  
	<div class="col-sm-4">  
		<input class="form-control"  type="text" name="code_vendor" id="id_code_vendor" required maxlength="100" value="{{ magazzino.code_vendor }}" />  
	</div>  
  </div>  
	
  <div class="form-group row">  
	<label class="col-sm-2 col-form-label">Description:</label>  
	<div class="col-sm-4">  
		 <textarea class="form-control" name="edescription" id="id_edescription" rows="3"  >{{ magazzino.edescription }}</textarea> 
		 <!-- <input type="text" name="edescription" id="id_edescription" required maxlength="500" value="{{ magazzino.edescription }}" />  -->
	</div>  
  </div>  
	
	
  <div class="form-group row">  
	<label class="col-sm-2 col-form-label">Progetto:</label>  
	<div class="col-sm-4">  
		 <!-- <textarea class="form-control" name="edescription" id="id_edescription" rows="3"  >{{ magazzino.progetto }}</textarea> -->
		 <input class="form-control" type="text" name="progetto" id="id_progetto" required maxlength="20" value="{{ magazzino.progetto }}" /> 
	</div>  
  </div>  
	
	
  <div class="form-group row">  
	<label class="col-sm-1 col-form-label"></label>  
	<div class="col-sm-4">  
	<button type="submit" class="btn btn-primary">Update</button> 
	<a href="/show" class="btn btn-success">Back</a>  
	</div>  
  </div>  
</div>  
</form>  

{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>  
</html>  
